html,
body {
    background-color: #030303;
    color: white;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav a{
    text-decoration: none;
    padding: 8px;
    color: #BEBEBE;
}

nav {
    height: 8vh;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: space-evenly;
    padding-top: 32px;
    font-size: 24px;
    background-color: #030303;
}

.nav-item{
    align-items: center;
}

#skills{
    min-height: 100vh;
}


#home{
    margin: 0px;
    min-height: 94.5vh;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    opacity: 1;
}


#hero-image{
    background-color: #030303;
    width: 46.5vw;
    object-fit: cover;
    object-position: center;
    position: absolute;
    bottom: 0;
}


.home-text-section {
    width: fit-content;
    position: relative;
    top: 30vh;
    left: 55%;
}


.home-text-section p,
.home-text-section #name{
    display: inline;
    font-size: 60px;
}

.home-text-section p {
    color: #979797;
}

.home-text-section #name {
    margin-left: 24px;
    background-image: radial-gradient(ellipse at 58px 90px, #FF0066 20%, #0FF0FF 92%);
    ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.home-text-section span{
    font-size: 48px;
}


#grad-circle-blue,
#grad-circle-pink{
    position: absolute;
    width: 626px;
    height: 626px;
    border-radius: 100%;
    opacity: 0;
    filter: blur(260px);
}
#grad-circle-blue{
    bottom: -40%;
    right: 10% ;
    background: radial-gradient(circle, #0FF0FF,#0FF0FF);
}

#grad-circle-pink{
    bottom: -10%;
    right: -15% ;
    background: radial-gradient(circle, #FF2079,#FF2079);
}

section{
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 120px;
    font-size: 32px;
    opacity: 0;
}

.title {
    font-size: 48px;
    position: relative;
    margin-top: 120px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

.content {
    padding: 48px;
    color: #ADADAD;
}


.card {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 16px;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}


.card-description {
    font-size: 16px;
    color: #666;
}


.projects-container,
.skills-container{
    display: grid;
    justify-items: center;
    padding: 16px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 48px;
}

.project-item {
    margin: 16px;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-image: radial-gradient(ellipse at 20% 90%,#BD0606 2%, #21A1D4 32%,#BD0606 66%, #21A1D4 100%) 1;
}


/*Animation Css*/

#about.active,
#projects.active,
#skills.active{
    animation:  fadeIn forwards ;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 2s;
}


#about.inactive,
#projects.inactive,
#skills.inactive{
    animation:  fadeOut forwards ;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 2s;
}

#home.active > *:not(#grad-circle-blue):not(#grad-circle-pink){
    animation:  fadeIn linear forwards ;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 2s;
    animation-delay: 0.1s;
}

#home.active #grad-circle-blue,
#home.active #grad-circle-pink{
    animation:  slideIn forwards ;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 2s;
}

@keyframes fadeIn {
    from{
        scale: 0.7;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1; 
    }
}


@keyframes fadeOut {
    from{
        scale: 1;
        opacity: 1; 
    }
    to {
        scale: 0.7;
        opacity: 0; 
    }
}

@keyframes slideIn{
    from{
        opacity: 1;
        bottom: -140%;
        right: 10% ;
    }
    to{
        opacity: 1;
    }
}